.crossParent {
    position: relative;
}

.deleteCross{
    position: absolute;
    top: -14px;
    right: -14px;
    text-decoration: none;
    padding: 4px;
    font-size: 18px;
    border: solid 1px lightgrey;
    border-radius: 50px;
    background-color: white;
}